@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
}

.header {
    height: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 4px solid black;
}

:root {
    --primary-color: #FEFFF0;
    --primary-shadow: 21px 21px 0px 0px rgba(0, 0, 0, 0.40);
}


.navigation {
    background-color: #fff;
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    padding: 5px 20px;
    color: #0C0C0C;
    font-family: "Space Grotesk";
    font-size: 20px;
    border: 5px solid #000;
    border-left: 0;

    display: flex;
    align-items: center;
    align-self: stretch;

    cursor: pointer;
}

.first {
    display: flex;
    font-weight: 700;
    font-size: 30px;
    border-left: 5px solid black;
    align-items: center;

    padding-right: 205px;
}

.first svg {
    margin-right: 10px;
}

.mainPart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-bottom: 5px solid black;
}

.myText-svg svg {
    width: 110px;
}

.myText-text p {
    font-family: "Space Grotesk";
    font-size: 50px;

    font-weight: 600;
    line-height: normal;
}

.myText-btn{
    margin-top: 4rem;
}

.myText-btn a{
    border-radius: 92px;
    border: 5px solid #000;
    background: #BAE6FF;

    padding: 20px 55px;
    font-weight: 700;
    font-size: 24px;

    text-decoration: none;
    color: black;
}


.myText-btn a:active{
    text-decoration: none;
    color: black;
}

.myText-svg2 img {
    margin-top: 8rem;
    margin-left: -14rem;
}

.myImgText-svg {
    margin-bottom: -2rem;
}

.recCon {
    width: 30rem;
    height: 30rem;
    flex-shrink: 0;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);
}

.rec2Con {
    background-color: white;
    width: 20rem;
    height: 20rem;

    border: 5px solid black;
}

.rec2Con img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.my-Img-Text-Name p {
    color: #000;
    font-weight: 700;
    text-shadow: 0px 4px 0px rgba(231, 231, 231, 0.32);
    font-family: "Space Grotesk";
    font-size: 20px;
}

.my-Img-Text-Name {
    display: flex;
    align-items: center;
    transform: rotate(-16.448deg);
}

.my-Img-Text-Name svg {
    margin-left: -30px;
}

.skills {
    background-color: black;
    height: 5rem;
}

.skills-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.skills-item {
    padding: 20px;
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.services {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 40px;
}

.service-text p {
    font-family: "Space Grotesk";
    font-size: 48px;
    font-weight: 700;

    margin-right: 30px;
}

.myPort {
    background-color: var(--primary-color);
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading h2 {
    color: #000;
    -webkit-text-stroke-width: 3;
    -webkit-text-stroke-color: #000;
    font-family: "Space Grotesk";
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.portItem {
    padding: 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.portList {
    width: 31rem;
    padding: 30px;
    background-color: white;
    list-style: none;

    border: 5px solid black;
    margin-bottom: 40px;
    box-shadow: 4px 4px 0px 0px #8E8F87;

    position: relative;
}

.portList::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    /* Adjust the height of the horizontal line */
    background-color: black;
    /* Adjust the color of the lines */
    top: -1.1%;
    left: 8%;

    border-radius: 10px;
}

.portList::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    /* Adjust the height of the horizontal line */
    background-color: black;
    /* Adjust the color of the lines */
    top: 45%;
    left: 50%;

    border-radius: 10px;
}


.portList::after {
    transform: rotate(90deg) translateY(-50%);
}

.portImg {
    width: 26.5rem;
    margin: 0 auto;
    margin-bottom: 20px;
}

.portImg img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.portName {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 14px;
}

.portName h3 {
    color: #000;
    font-family: "Space Grotesk";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.portName svg {
    padding: 5px;

    background: #000;
    box-shadow: 4px 4px 0px 0px #8E8F87;
}

.portInfo p {
    color: #000;
    font-family: "Space Grotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 80%;
}


.clientStart {
    display: flex;
    align-items: center;

    background-color: var(--primary-color);

    padding: 50px 4rem;
}

.clientStart h2 {
    color: #000;
    font-family: "Space Grotesk";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: 50%;
}

.clientStart svg {
    width: 67px;
    height: 67px;

    margin-left: -20px;
}

.clients {
    background-color: var(--primary-color);
    padding: 20px;

    margin-bottom: 3rem;
}

.clientsItem {
    width: 40%;
    padding: 20px 40px;

    border-radius: 2px;
    border: 4px solid #000;
    background: #fff;
    box-shadow: 11.465px 11.465px 0px 0px #BFBFB4;

    list-style: none;
    margin-bottom: 30px;

    transform: rotate(1deg);
}

.clientsList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.clientComment {
    margin-bottom: 25px;
}

.clientComment p {
    color: var(--Dark-Gray, #181818);
    font-family: Inter;
    font-size: 27.993px;
    font-style: normal;
    font-weight: bold;
    line-height: 40.717px;
}

.clientLogo {
    width: 4.5rem;
    margin-right: 10px;
}

.clientLogo img {
    display: block;
    width: 100%;
    object-fit: cover;

    border-radius: 100%;
}

.clientInfo {
    display: flex;
    align-items: center;
}

.clientName h3 {
    color: var(--Dark-Gray, #2B2B2B);
    font-family: Inter;
    font-size: 27.993px;
    font-style: normal;
    font-weight: 600;
    line-height: 35.627px;
}

.clientName p {
    color: #545454;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35.627px;
}

.send {
    background-color: var(--primary-color);
    min-height: 400px;

    display: flex;
    justify-content: center;
}

.send-in {
    background-color: white;
    width: 70%;
    border: 6px solid #000;
    box-shadow: var(--primary-shadow);

    padding: 50px;
    position: absolute;
}

.send svg {
    position: relative;
    top: -90px;
    left: 80%;
    height: 100px;
}

.sendInfo {
    text-align: center;
}

.sendInfo h2 {
    color: #000;
    font-family: "Space Grotesk";
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-top: -5rem;
    margin-bottom: .8rem;
}

.sendInfo p {
    color: #000;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.sendInfo p:last-of-type{
    margin-bottom: 5rem;
}

.sendInfo a {
    text-decoration: none;
    border-radius: 92px;
    border: 6px solid #000;
    background: #BAE6FF;

    padding: 15px 30px;

    color: #000;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}

.sendInfo a:active{
    text-decoration: none;
    color: black;
}

.footer {
    margin-top: 5rem;
    border-top: 5px solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3.5rem 2rem;
}

.fooLogo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fooLogo p{
    color: #0C0C0C;
    font-family: "Space Grotesk";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}

.footText p {
    color: #000;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footCred {
    display: flex;
    align-items: center;
}

.footCred a svg {
    height: 48px;
}

.footCred a:last-of-type{
    margin-left: -25px;
}
/*-------------------------*/
/*RESPONSIVENESS*/

@media only screen and (max-width: 1483px) {
    .myText-svg2 img{
     margin-left: -14rem !important;
     margin-top: 2rem;
    }
   }
 
 @media only screen and (max-width: 1450px) {
    .myText-svg2 img{
     margin-left: -12rem !important;
     margin-top: 2rem;
    }
   }
 
 @media only screen and (max-width: 1370px) {
    .myText-svg2 img{
     margin-left: -11rem !important;
     margin-top: 2rem;
    }

      .sendInfo h2{
         font-size:35px;
     } 

     .sendInfo p{
         font-size:25px;
     }

   }
 
 @media only screen and (max-width: 1270px) {
    .myText-svg2 img{
     margin-left: -9rem !important;
     margin-top: 2rem;
    }
   }
 
 @media only screen and (max-width:1500px){
     .skills{
         margin-top:2rem;
     }
 
     .mainPart {
         border:none;
     }
 }
 
 @media only screen and (max-width:1000px){
     .service-text p {
         font-size:40px;
     }
 
     .heading h2{
         font-size:65px;
     }
 
     .heading svg{
         height:130px;
     }
 
     .clientStart svg{
         margin-left:10%;
     }
 
     .clientsList{
         display:flex;
         flex-wrap:nowrap;
         flex-direction:column;
         align-items:center;
     }
 
     .clientsItem{
         width:60%;
     }
 
     .send{
         min-height:400px;
     }

     .sendInfo h2{
         font-size:30px;
     } 

     .sendInfo p{
         font-size:20px;
     }
 }
 